@import '~antd/dist/antd.css';
.trigger {
    padding: 0 24px;
    font-size: 18px;
    line-height: 64px;
    cursor: pointer;
    transition: color 0.3s;
}

.toggle {
    background-color: #87BCE8;
    color: #fff;
    font-size: 32px;
}

.menu {
    background-color: #fff;
}

.img {
    width: 10rem;
    height: 2.5rem;
}

.toggle {
    padding: 0;
}

.sidebar {
    background-color: #fff
}